[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]
bpython = "*"
django-debug-toolbar = "*"
djdt-flamegraph = "*"
pympler = "*"
django-silk = "*"

[packages]
django = "~=2.2"
mistune = "*"
django-autocomplete-light = "*"
xadmin = {file = "https://codeload.github.com/sshwsfc/xadmin/zip/django2"}
django-ckeditor = "*"
pillow = "*"
django-rest-framework = "*"
coreapi = "*"
django-redis = "*"
hiredis = "*"

[requires]
python_version = "3.7"
