<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>typeidea博客系统</title>
</head>
<body>
{% for cate in navs %}
    <h1>导航栏:</h1>
    <a href="/category/{{ cate.id }}">{{ cate.name }}</a>
{% endfor %}
<hr>


{% if tag %}
<h1>标签页： {{ tag.name }}</h1>
{% endif %}

{% if category %}
<h1>分类页： {{ category.name }}</h1>
{% endif %}

<ul>
{% for post in post_list %}
    <li>
        <a href="post/{{ post.id }}/">{{ post.title }}</a>
        <div>
            <span>作者： {{ post.owner.username }}</span>
            <br>
            <span>分类: {{ post.category.name }}</span>
        </div>
        <p>{{ post.desc }}</p>
    </li>
{% endfor %}
</ul>

<hr>
<div>
    <h1>底部分类：</h1>
{% for cate in categories %}
    <a href="/category/{{ cate.id }}/">{{ cate.name }}</a>
{% endfor %}
</div>

</body>
</html>